<div>
    <h3>Login</h3>
    <div style="color: red;">{{ errorMessage }}</div>
    <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" formControlName="password">
        </div>
        <button>Valider</button>
    </form>
</div>