<div className="profile-top bg-primary p-2">
  <img className="round-img my-1" style="width: auto;" [src]="defaultAvatarUrl" alt="" />
  <h1 *ngIf="name.length" className="large">{{ name }}</h1>
  <p className="lead">{{ profile.status }} <span> at {{ profile.company }}</span></p>
  <p><span>{{ profile.location }}</span></p>

  <!-- <div class="icons my-1">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fas fa-globe fa-2x"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
     <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
  </div> -->

</div>
